<%= stylesheet_link_tag "register"%>
<script type="text/javascript">
  $(document).ready(function(){
    $("#edit_user").validate({
          rules:{
            // uname:"required",
            'user[email]':{
                required:true,
                email: true
            },
            'user[password]':{
              minlength: 8
            },
            'user[current_password]':{
              minlength: 8,
              required: true
            },
            'user[password_confirmation]':{
              equalTo : "#user_password"
            },
            'user[first_name]':{
              required:true
            },
            'user[last_name]':{
              required:true
            },
            'user[company]':{
              required:true
            }
          },
          messages:{
            'user[email]':"Enter Valid Email",
            'user[password]':{
              minlength:"Password must be atleast 8 characters"
            },
            'user[current_password]':{
              minlength: "Password must be atleast 8 characters",
              required: "Enter the Current Password"
            },
            'user[password_confirmation]':{
              equalTo:"These passwords don't match. Try again?"
            },
            'user[first_name]':"Enter the First Name",
            'user[last_name]':"Enter the Last Name",
            'user[company]':"Enter Your Company"
          },
         errorPlacement: function (error, element) {
             error.insertAfter(element);
         }
     });



  // Submit button clicks
     $(document).on("click","#submit_button",function(){
         if($("#edit_user").valid()){
                document.edit_user.submit();
         }
   
      });
  });
</script>
<div class="body-content register">
		<div class="container">
		<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
  <%= devise_error_messages! %>
			<div class="row">
				<div class="span8">
					<div class="row">
						<div class="span8">
							<div class="title">Edit Your Account</div>
						</div>	
					</div>
					<div class="row">
						<div class="span8">
							<div class="row">
								<div class="span8">
									<div class="sub-title">The Basics</div>
								</div>
							</div>
							<div class="row">
								<div class="span2 fieldName">
									First Name
								</div>
								<div class="span4">
								
									<%= f.text_field :first_name %><%= f.hidden_field :register_type, :value => "owner" %>
								</div>
							</div>
							<div class="row">
								<div class="span2 fieldName">
									Last Name
								</div>
								<div class="span4">
									 <%= f.text_field :last_name %>
								</div>
							</div>

							<div class="row">
								<div class="span2 fieldName">
									Company
								</div>
								<div class="span4">
									<%= f.text_field :company %>
								</div>
							</div>
							<div class="row">
								<div class="span8">
									<div class="sub-title">Login Details</div>
								</div>
							</div>
							<div class="row">
								<div class="span8 spanBlock login-info">
									<span>Email (You'll use this address to log into your HootQuest account.)</span>
									<span><%= f.email_field :email, :autofocus => true %></span> 
									<span>Password</span>			
									<span><%= f.password_field :password %></span>						
									<span>Enter your password again for verification.</span>	
									<span><%= f.password_field :password_confirmation %></span>
									<span class="sub-title"></span>
								</div>
							</div>
							<div class="row">
								<div class="span8">
									<div class="sub-title">We need your current password to confirm your changes</div>
									
							<div class="row">
								<div class="span8 spanBlock login-info">
								<span>
									Current Password
								</span>
								<span>
									<%= f.text_field :current_password %>
								</span>
								</div>
								<% end %>
							</div>
							<div class="row bottom-links">
						       <div class="span2">
							<!--<img class="btn-custom" src="img/btn-start-free.png">-->
							<input type="submit"   class="btn-custom" style="max-width:100%;"/>
						       </div>
					     </div><br />
							<div class="row">
								<div class="span2 fieldName">
									Unhappy?
								</div><br />
								<div class="span4">
							      <%= button_to "Cancel my account", registration_path(resource_name), :data => { :confirm => "Are you sure?" }, :method => :delete %>
								</div>
							</div>
							
						
								</div>
							</div>
							

						</div>
					</div>
					
				</div>
		
			</div>
			<div class="row">
				<div class="span8"></div>
				<div class="span4"></div>
			</div>
			
		</div>
	</div>