<script type="text/javascript">
$(document).ready(function(){
  $("#new_user").validate({
        rules:{
          // uname:"required",
          'user[email]':{
              required:true,
              email: true
          },
          'user[password]':{
            required:true,
            minlength: 6
          },
          'user[password_confirmation]':{
            required:true,
            equalTo : "#user_password"
          },
          'user[first_name]':{
            required:true
          },
          'user[last_name]':{
            required:true
          },
          'user[company]':{
            required:true
          },
          'user[plan_id]':{
            required:true
          },
          expires_on:{
              required:true
          },
          card_number:{
            required:true,
            minlength: 14,
            maxlength: 14,
            number:true
          },
          billing_zip:{
            required:true,
            minlength: 10,
            maxlength: 12,
            number:true
          }
        },
        messages:{
          'user[email]':"Enter Valid Email",
          'user[password]':{
            required:"Enter your Password",
            minlength:"Password must be atleast 6 characters"
          },
          'user[password_confirmation]':{
            required:"Repeat your password",
            equalTo:"These passwords don't match. Try again?"
          },
          'user[first_name]':"Enter the First Name",
          'user[last_name]':"Enter the Last Name",
          'user[company]':"Enter Your Company",
          'user[plan_id]':"Selct the Number of Users",
          expires_on:"This Field is Required",
          card_number:{
            required:"Enter Valid Card Number",
            minlength:"Card Number must be 14 digits",
            maxlength:"Card Number must be 14 digits",
            number:"Enter Valid Card Number"
          },
          billing_zip:{
            required:"Enter Valid Billing Zip",
            minlength:"Billing Zip must be atleast 10 digits",
            maxlength:"Billing Zip must be lessthan 12 digits",
            number:"Enter Valid Billing Zip"
          }
        },
       errorPlacement: function (error, element) {
           error.insertAfter(element);
       }
   });



// Submit button clicks
   $(document).on("click","#submit_button",function(){
       if($("#new_user").valid()){
              document.new_user.submit();
       }
 
    });
});
</script>

<br /><br />
<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>
<div class="container">
  <div class="row">
    <div class="span8 register-box">
      <div class="row">
        <div class="span8 register-heading">
          <h4>Your just 60 seconds away from your new HootQuest account!</h4>
        </div>
      </div>
      <div class="row">
        <div class="span8 fields-register-left">
          <div class="row">
            <div class="span8">
              <h5>The Basics</h5>
            </div>
          </div>
          <div class="row">
            <div class="span2">
              <%= f.label :first_name %>
            </div>
            <div class="span6">
              <%= f.text_field :first_name %><%= f.hidden_field :register_type, :value => "owner" %>
            </div>
          </div>
          <div class="row">
            <div class="span2">
              <%= f.label :last_name %>
            </div>
            <div class="span6">
              <%= f.text_field :last_name %>
            </div>
          </div>
          <div class="row">
            <div class="span2">
              <%= f.label :company %>
            </div>
            <div class="span6">
              <%= f.text_field :company %>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="span8 fields-register-left">
          <div class="row">
            <div class="span8">
              <h5>Please Choose Your Login Info</h5>
            </div>
          </div>
          <div class="row">
            <div class="span8">
              <%= f.label :email %>
            </div>
          </div>
          <div class="row">
            <div class="span8">
              <%= f.email_field :email, :autofocus => true, :class => "input-xlarge" %>
            </div>
          </div>
          <div class="row">
            <div class="span8">
              <%= f.label :password %>
            </div>
          </div>
          <div class="row">
            <div class="span8">
              <%= f.password_field :password, :class => "input-xlarge" %>
            </div>
          </div>
          <div class="row">
            <div class="span8">
              <%= f.label :password_confirmation %>
            </div>
          </div>
          <div class="row">
            <div class="span8">
              <%= f.password_field :password_confirmation, :class => "input-xlarge" %>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="span8 fields-register-left">
          <div class="row">
            <div class="span8">
              <h5>How many users would you like on the account?</h5>
            </div>
          </div>
          <div class="row">
            <div class="span8">
              <%=select("user", "plan_id", Plan.all.collect {|p| [ p.name, p.id ] })%>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="span8 fields-register-left">
          <%=render 'gateway/payment_details'%>
        </div>
      </div>
      <div class="row">
        <div class="span8">
          <div class="row">
            <div class="span8">
              <p class="condition">Your 30-day free trial lasts until time on month date, year. If you don't want to continue using HootQuest, just cancel before the trial ends and you won't be charged (we'll email you 5 days before the trial ends to remind you). Otherwise, you'll pay just $49/month for the service as long as your account is open. You can upgrade, downgrade, or cancel any time.</p>
            </div>
          </div>
          <div class="row">
            <div class="span8">
              <p class="condition">By clicking you agree to the Terms of Service, Privacy, and Refund policies.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="span8 btn-submit">
          <%= f.submit "Start my free trial", :class => "btn btn-success btn-large", :id => "submit_button" %>
        </div>
      </div>
    </div>
    <div class="span4">
      <div class="row">
        <div class="span4 fields-register-right">
          <h4>Thanks for choosing HootQuest!</h4>
        </div>
      </div>
      <div class="row">
        <div class="span4 fields-register-right">
          <h4>Excellent Customer Service</h4>
          <label>Fast, Helpful and Friendly help</label>
        </div>
      </div>
      <div class="row">
        <div class="span4 fields-register-right">
          <h4>Secure Data</h4>
          <label>Your data is backed up daily</label>
        </div>
      </div>
      <div class="row">
        <div class="span4 fields-trail">
          <h4>7 day free trial!</h4>
          <label>You won't be billed unless you keep your account open past your 7 day free trial.</label>
        </div>
      </div>
    </div>
  </div>
</div>
	
<% end %>