<h3>Payment</h3>
<div><%=label_tag :"Card Number"%><br />
<%=text_field_tag "card_number"%></div>
<div><%=label_tag :"Expires On"%><br />
<%=text_field_tag "expires_on"%></div>
<div><%=label_tag :"Billing Zip"%><br />
<%=text_field_tag "billing_zip"%></div>
