<h4>Payment</h4>
<table border="0">
<tr><td><%=label_tag :"Card Number"%></td>
<td><%=text_field_tag "card_number"%></td></tr>
<tr><td><%=label_tag :"Expires On"%></td>
<td><%=text_field_tag "expires_on"%></td></tr>
<tr><td><%=label_tag :"Billing Zip"%></td>
<td><%=text_field_tag "billing_zip"%></td></tr>
</table>
