<br />
<div class="candidate-border">
<h3>Add A New Candidate</h3>
<%= form_for(@candidate) do |f| %>
<% if @candidate.errors.any? %>
<p>Please Correct The Following Errors</p>
<% @candidate.errors.full_messages.each do |msg| %>
<%= msg %><br />

<% end %>
<% end %>
<br />
<table border="0">
 <tr><td><%= f.label :first_name %></td>
  <td><%= f.text_field :first_name %></td></tr>
 <tr><td><%= f.label :last_name %></td>
  <td><%= f.text_field :last_name %></td></tr>
   <tr><td><%= f.label :title %></td>
  <td><%= f.text_field :position %></td></tr>
   <tr><td><%= f.label :company %></td>
  <td><%= f.text_field :company %></td></tr>
   <tr><td><%= label_tag :Tags %><br />(keywords separated by commas)</td>
  <td><%= text_field_tag :tags %></td></tr>
  <tr><td><%= f.label :"profile picture"%></td>
  <td><%= f.file_field :profile_pic%></td></tr>
  <tr><td><%= f.label :phone %></td>
 <td> <%= f.text_field :contact_number %></td></tr>
   <tr><td><%= f.label :email %></td>
  <td><%= f.email_field :email, :autofocus => true %></td></tr>
  <tr><td><%= f.label :address %></td>
  <td><%= f.text_field :address %></td></tr>
  <tr><td><%= f.label :city %></td>
  <td><%= f.text_field :city %></td></tr>
    <tr><td><%= f.label :state %></td>
  <td><%= f.text_field :state %></td></tr>
   <tr><td><%= f.label :zip %></td>
  <td><%= f.text_field :zip %></td></tr>
    <tr><td><%= f.label :linked_in %></td>
  <td><%= f.text_field :linked_in %></td></tr>
      <tr><td><%= f.label :facebook %></td>
  <td><%= f.text_field :facebook %></td></tr>
    <tr><td><%= f.label :twitter %></td>
  <td><%= f.text_field :twitter %></td></tr>
  <tr><td>Add a resume or any other documents such as </br>references, etc.</td></tr>
  <tr><td><%=f.file_field :resume %></td></tr>
  
<tr class="action">
	<td>
<%= f.submit :Add %>
</td>
</tr>
<% end %>
</table>
</div>
