<h3>Add A New Candidate</h3>
<%= form_for(@candidate) do |f| %>
<% if @candidate.errors.any? %>
<p>Please Correct The Following Errors</p>
<% @candidate.errors.full_messages.each do |msg| %>
<%= msg %><br />

<% end %>
<% end %>

 <div><%= f.label :first_name %><br />
  <%= f.text_field :first_name %></div>
 <div><%= f.label :last_name %><br />
  <%= f.text_field :last_name %></div>
   <div><%= f.label :title %><br />
  <%= f.text_field :position %></div>
   <div><%= f.label :company %><br />
  <%= f.text_field :company %></div>
   <div><%= label_tag :Tags %>(keywords separated by commas)<br />
  <%= text_field_tag :tags %></div>
  <%= f.label :"profile picture"%><br />
  <%= f.file_field :profile_pic%>
  <div><%= f.label :phone %><br />
  <%= f.text_field :contact_number %></div>
   <div><%= f.label :email %><br />
  <%= f.email_field :email, :autofocus => true %></div>
  <div><%= f.label :address %><br />
  <%= f.text_field :address %></div>
  <div><%= f.label :city %><br />
  <%= f.text_field :city %></div>
    <div><%= f.label :state %><br />
  <%= f.text_field :state %></div>
   <div><%= f.label :zip %><br />
  <%= f.text_field :zip %></div>
    <div><%= f.label :linked_in %><br />
  <%= f.text_field :linked_in %></div>
      <div><%= f.label :facebook %><br />
  <%= f.text_field :facebook %></div>
    <div><%= f.label :twitter %><br />
  <%= f.text_field :twitter %></div>
  <p>Add a resume or any other documents such as references, etc.</p>
  <%=f.file_field :resume %>
  
<div class="action">
<%= f.submit :Add %>
</div>
<% end %>
