<script type="text/javascript">
window.tags = <%=  get_tags%>;

window.candidates = <%= raw @candidates.to_json %>

window.candidate_url = '<%= "#{root_url}"+"candidates/"%>';
</script>
<%= stylesheet_link_tag "search/application"%>
<%= javascript_include_tag "search/application"%>

<div ng-app="app" class="body-content search">
    <div ng-controller="candidates_controller" class="container">
          <div class="alert hide" >{{message}}</div>

      <div class="row">
        <div class="span12">
          <div class="title">Keyword Search</div>
        </div>          
      </div>
      <div class="row">
        <div class="span12 input-keyword">
          <input class="input-xxlarge" ng-model="search_data" id="keywords">
        </div>          
      </div>
      <div class="row">
        <div class="span12 outlined">
          <div class="row">
            <div class="span8 borderRight1 width609">
              <div class="sortBy">
                <span>Sort by <img src="/assets/icon-sortby.png"></span>
                <span><button ng-disabled ="disable_sort" ng-click="predicate = 'first_name';reverse=!reverse">Name</button></span>
                <span><button ng-disabled ="disable_sort" ng-click="predicate = 'position';reverse=!reverse">Title</button></span>
                <span><button ng-disabled ="disable_sort" ng-click="predicate = 'contact_number';reverse=!reverse">Location</button></span>
<!--                 <span><input type="text" ng-model="search" placeholder="Name,tags,position..etc"></span>
 -->                <!-- <span><select ng-model="added_by" ng-options="candidate.added_by for candidate in candidates"><option value="ddfsafdsa">Filter By Users</option>
</select></span> -->
                <span class="selectall pull-right"><button ng-disabled ="disable_sort"  ng-click="select_all()">Select All</button></span>
              </div>
             <div class="no-more-list-box hide">
              <p class="center">No candidates matching the search criteria</p>
            </div>

              <ul class=" candidate-list candidate-list-box height685 ">
                <li ng-class="{blue: candidate.id==selectedIndex}" ng-repeat="candidate in candidates | orderBy:predicate:reverse " >
                  <div class="candidatre-list-inner" ng-click="view(candidate.id)">
                    <div class="">
                      <img class="profile-pic75" src="{{candidate.profile_pic_url}}">
                    </div>
                    <div class="details">
                      <div class="name-title">
                        <span class="calibri17"><a href="/candidates/{{candidate.id}}">{{ candidate.first_name}} {{ candidate.last_name}}</a></span>
                        <span class="calibri15">{{ candidate.position}}</span>
                      </div>
                      <div class="keys">{{candidate.get_tags}}</div>
                      <div class="phone">{{candidate.contact_number}}</div>
                      <div class="check"><input ng-click="make_selection(candidate.id,$event)" type="checkbox"></div>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
            <div class="view-candidate-quick span4">
                <span>Quickly view your candidates.</span>
                <span>Select a candidate to view their full details.</span>
            </div>
            <div class="span4 quickView height685 position-relative hide">
              <div class="profile-box">
                <img src="{{can.profile_pic_url}}" class="profile-pic100">
                
              </div>
              <div class="info">
                <span class="name"><a href="/candidates/{{can.id}}" > {{ can.last_name}} {{ can.first_name}}</a></span>
                <span>{{ can.position}}</span>
                <span class="fieldTitle">Company:</span>
                <span>{{ can.company}}</span>
                <span class="fieldTitle">Experience:</span>
                <span>{{ can.experience}} years</span>
                <span class="fieldTitle">Keywords:</span>
                <span>{{ can.get_tags}}</span>
                <span class="fieldTitle">Location:</span>
                <span>{{ can.city}}, {{can.state}}</span>
                <span class="fieldTitle">Cell phone:</span>
                <span>{{ can.contact_number}}</span>
                <span class="fieldTitle">Email:</span>
                <span>{{ can.email}} | <a ng-click="send_mail(can.email)" href="">send email</a> </span>
                <span><a target="_blank" href="{{can.resume}}">View Resume</a></span>
              </div>
              <div class="notes">
                <span class="fieldTitle"> Note :<a ng-click="add_note()">Add a Note</a></span>
                <div class='new-note-form hide'>
                  <textarea ng-model='note.candidate_note' id="candidate_note" required></textarea>
                  <p><span class="pull-left"><a class="btn" ng-click='create_note()'>Create</a></span>
                  <span class="pull-right"><a class="btn btn-danger" ng-click='close_note()'>Close</a></span>
                  </p>
                  <p class="clearfix"></p>
                </div>
                <div class="notes-repeat" ng-repeat ="note in can.notes">
                  <p><span class="pull-left">{{note.date}}</span>
                  <span class="pull-right">by {{note.creater_name}}</span>
                  </p>
                  <p class="clearfix"></p>
                  <p>{{note.candidate_note}}</p>
                </div>
              </div>
            </div>
          </div>
          
        </div>
      </div>
      <div class="row">
        <div class="span8 bottomLink">
          <span>
            <button ng-disabled ="disable_sort" ng-click="send_mail()">Send Mail</button>
          </span>
          <span>
            <button ng-disabled ="disable_sort" ng-click="download_zip()">Download Selected Resumes</button>
          </span>
        
        </div>
      </div>
  <div modal="new_call_open" class="hide" close="new_call_open=false">
    <div class="modal-header">
      <h3>What would you like to name this call list?</h3>
    </div>
    <div class="modal-body">
      <p> Name </p><p><input type="text" ng-model="call_list_name"></p>
    </div>
    <div class="modal-footer">
      <a href="#" class="btn btn-primary" ng-click="create_call_list()">Create Call List</a>
      <button class="btn btn-warning cancel" ng-click="new_call_open=false">Cancel</button>
    </div>
  </div>
  <div modal="edit_call_open" class="hide" close="edit_call_open=false">
    <div class="modal-header">
      <h3>which list would you like to add these candidates to?</h3>
    </div>
    <div class="modal-body">
    
    </div>
    <div class="modal-footer">
      <button class="btn btn-warning cancel" ng-click="edit_call_open=false">Cancel</button>
    </div>
  </div>
  </div>
</div>
    </div>
    <div class="footer-search"></div>

<script>
var app = angular.module('app', ['ngResource','ui.bootstrap']);

app.directive( [ 'focus', 'blur', 'keyup', 'keydown', 'keypress','change'].reduce( function ( container, name ) {
  var directiveName = 'ng' + name[ 0 ].toUpperCase( ) + name.substr( 1 );

  container[ directiveName ] = [ '$parse', function ( $parse ) {
    return function ( scope, element, attr ) {
      var fn = $parse( attr[ directiveName ] );
      element.bind( name, function ( event ) {
        scope.$apply( function ( ) {
          fn( scope, {
            $event : event
          } );
        } );
      } );
    };
  } ];

  return container;
}, { } ) );

app.filter('getIndexById', function() {
  return function(input, id) {
    var i=0, len=input.length;
    for (; i<len; i++) {
      if (+input[i].id == +id) {
        return i;
      }
    }
    return null;
  }
});
app.filter('unique', function() {
  return function(array, field) {
  var unique = {};
  var distinct = [];
      for( var i in array ){
       if( typeof(unique[array[i].field]) == "undefined"){
        distinct.push(array[i]);
       }
       unique[array[i].field] = 0;
      }
    return distinct; 
  }
});


app.controller('candidates_controller', ['$scope','$http','$dialog','$filter',
  function($scope, $http,$dialog,$filter) {
    $scope.edit = "Edit";
    $scope.checked= true;
    $scope.selected_candidates=[];
    $scope.new_call_open=false;
    $scope.$watch('search_data',function(){
      $scope.search();
    });
    $scope.message="aa";
    $scope.$watch('message', function() {
      if ($scope.message!="aa"){
        $(".alert").fadeIn(500).delay(5000).fadeOut(2000,function(){
          $scope.message="aa";
          $scope.$digest();
        });
      }
    });
    $scope.candidates=window.candidates;
    
    $scope.view = function(id){
      $scope.selectedIndex = id;
      $(".make_edit").removeAttr("contenteditable");
      $(".view-candidate-quick").hide();
      $(".quickView").show();
      var index= $filter('getIndexById')($scope.candidates,id);
      $scope.can = $scope.candidates[index];
    };
    $scope.search = function(){
      $(".view-candidate-quick").show();
      $(".quickView").hide();
      $scope.search_data=$("#keywords").val();
      if($scope.search_data != undefined)
      {
       $scope.display_result = "Getting candidates details......";
       $http.get("/search/"+$scope.search_data).
       success(function(data, status) {
        if(data.length>0){
          $scope.disable_sort = false;
          $scope.display_result = "Found <span class='bold'>" + data.length + "</span> Candidates";
          $scope.candidates = data;
          $(".candidate-list-box").show();
          $(".no-more-list-box").hide();
        }
        else{
          $scope.disable_sort = true;
          $(".no-more-list-box").show();
          $(".candidate-list-box").hide();
          $scope.candidates = [];
          $scope.display_result = "<span class='error' >No candidates matching the search criteria</span>";
        }
      }).
       error(function(data, status) {
        $scope.candidates = [];
        $scope.display_result = "<span class='error' >No candidates matching the search criteria</span>";
      });
     }
   };

   $scope.show_new_call_list= function(){
    if($scope.selected_candidates.length>0){
      $scope.new_call_open=true;
    }
    else
     $scope.message = "You must select atleast one candidate";
 };



$scope.make_selection = function(id,event){
  var cand_index=$filter('getIndexById')($scope.candidates,id);
  var sel_index=$filter('getIndexById')($scope.selected_candidates,id);
  if(event.target.checked==true)
  {
    $scope.selected_candidates.push($scope.candidates[cand_index]);
  }
  else
  {
    $scope.selected_candidates.splice(sel_index,1);
  }
};

$scope.make_editable=function(candidate){
  $scope.can = candidate;
  if($scope.edit == "Edit"){
    $(".edit-content").show();
    $(".QV-content").hide();
    $scope.edit = "Save";
  }
  else{
    $scope.save();
    $(".edit-content").hide();
    $(".QV-content").show();
    $scope.edit="Edit";
  }
};

$scope.download_zip = function(){
  var candidate_ids =[];
  for(cand in $scope.selected_candidates)
    {        candidate_ids.push($scope.selected_candidates[cand].id); }
  $http({method:"POST",
    url:"/candidates/export_zip.json",
    data:{candidates:candidate_ids.join(",")},
    headers:{'X-CSRF-Token': $('meta[name=csrf-token]').attr('content')}
  }).
  success(function(data, status) {
  	window.location.href = data.location
    //$scope.call_lists.push(data);
    //$scope.call_list_name= "";
   // $scope.message = "Call list has been created";
  }).
  error(function(data, status) {
    //$scope.new_call_open=false;
  });
};
$scope.send_mail = function(email,id){
  var emails=[];
  var body="";
  if (email != undefined)
  {
    to= email;
    body="&body=Dear "+ $scope.can.last_name+" "+$scope.can.first_name+",";
  }
  else
  {
    if( $scope.selected_candidates.length>0){
      to = $scope.selected_candidates[0].email
      for (var i = 0; i < $scope.selected_candidates.length; i++) 
        emails.push($scope.selected_candidates[i].email);
    }
    else 
      $scope.message = "You must select atleast one candidate";
  }
  location.target="_blank";
  location.href="mailto:"+to+ "?bcc="+emails.join(",")+body;
};

$scope.create_note = function(){
  if($("#candidate_note").hasClass("ng-valid"))
  {
    $scope.note.candidate_id = $scope.can.id;
    $http({method:"POST",
      url:"/notes",
      data:{note:$scope.note},
      headers:{'X-CSRF-Token': $('meta[name=csrf-token]').attr('content')}
    }).
    success(function(data, status) {
      $(".new-note-form").hide();
      $scope.can.notes.push(data);
    }).
    error(function(data, status) {
    });
  }
  else{
    $("#candidate_note").focus();
  }
};

$scope.add_note = function(){
  $(".new-note-form").show();
      $scope.note.candidate_note="";
};

$scope.close_note = function(){
  $(".new-note-form").hide();
};

$scope.select_all=function(){
  var checkboxes = $(":checkbox");
  checkboxes.each(function(){this.checked= $scope.checked;}); 
  if($scope.checked)
   $scope.selected_candidates = $scope.candidates.slice(0);
 else
  $scope.selected_candidates = [];
$scope.checked = !($scope.checked);     
};

$scope.save = function() {
  $http({method:"PUT",
    url:"/candidates/"+$scope.can.id,
    headers:{'X-CSRF-Token': $('meta[name=csrf-token]').attr('content')},
    data: {candidate:$scope.can} }).
  success(function(data, status) {
  }).
  error(function(data, status) {
  });
};
}]);


</script>