<%= javascript_include_tag("view_profile/application")%>
<%= stylesheet_link_tag "profile", "common" %>

	
	<div class="body-content profile" ng-app="app">
		<div class="container" ng-controller="notes_controller">
			<div class="row">
				<div class="span2 back-icon">
					<img src="/assets/icon-back.png"> Back
				</div>					
				<div class="span8">
					<div class="title">candidate profile</div>
				</div>					
				<div class="span2 next-icon">
					<div class=" pull-right">Next <img src="/assets/icon-next.png"></div>
				</div>					
			</div>
			<div class="row">
				<div class="span12 outlined">
					<div class="row profile-info">
						<div class="span6 info-left spanBlock">
							<div class="row">
								<div class="span2 textCenter">
									<!--<img class="profile-pic100" src="img/profile-pic.png">-->
									<%= image_tag @candidate.profile_pic_url, :class => "profile-pic100" %>
								</div>
								<div class="span4">
									<!--<span class="name">Last , First Name</span>-->
									<span class="name"><%= @candidate.last_name %> , <%= @candidate.first_name %></span>
									<!--<span>Position Title</span>-->
									<span><%= @candidate.position %></span>
									<span class="name colorBlack">keywords/ tags</span>
									<span><%= @candidate.get_tags %></span>
								</div>
							</div>
						</div>
						<div class="span6 info-right position-relative spanBlock">
							<span class="fieldTitle">Company:</span>
							<span><%= @candidate.company %></span>
							<span class="fieldTitle">Location:</span>
							<span><%= @candidate.address %></span>
							<span><%= @candidate.city %>,<%= @candidate.state %> <%= @candidate.zip %></span>
							<span class="fieldTitle">Cell Phone:</span>
							<span>786-797-5555</span>
							<span class="fieldTitle">Email:</span>
							<span><%= @candidate.email %></span>
							<div class="info-link">
								<span><a href="<%= @candidate.resume_url%>" target="_blank">View Resume</a></span>
								<span><a href="">Attach resume to email</a></span>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="span12 big-btns">
							<div class="row">
								<div class="span6 textCenter">
									<!--<img src="img/btn-send-mail.png">-->
									<a target="_blank" class="btn btn-success btn-block btn-large" href="mailto:<%= @candidate.email %>?body=Dear <%= @candidate.name %>"><img src="/assets/btn-send-mail.png"></a>
								</div>
								<div class="span6 textCenter">
									
									<a class="btn btn-success btn-block btn-large" ng-click="add_note()"><img src="/assets/btn-add-note.png"></a>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="span12 notes-container">
							<div class="row">
								<div class="span12 notes-header">
									<span class="notes-head">Notes</span>
									<span class="pull-right"><a ng-click="add_note()">  + Add a note </a></span>
								</div>
							</div>
							<div class="row">
								<div class="span12">
									<ul class="notes-list">
										<li ng-repeat="note in notes">
											<div>
												<span class="notes-date">{{ note.date}}</span>
												<span class="pull-right"><a ng-click="edit_note($index)">Edit</a></span>
											</div>
											<div>
												{{note.candidate_note}}
											</div>
										</li>
										
										
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div>
		<div>

			
			<div class='new-note-form hide'>
				<textarea ng-model='note.candidate_note' id="get_note"></textarea>
        <p><a ng-click='create_note()'>Create</a></p>
         </div>
			<div modal="notes_popup" class="hide" close="notes_popup=false">
	      <div class="modal-header">
	        <h5>{{modal_head}}</h5>
	      </div>
	      <div class="modal-body">
	        <textarea style="width:80%" ng-model="note.candidate_note"></textarea>
	      </div>
	      <div class="modal-footer">
	        <a href="#" class="btn btn-primary" ng-click="perform_notes_task()">{{modal_action}}</a>
	        <button class="btn btn-warning cancel" ng-click="notes_popup=false">Cancel</button>
	      </div>
    	</div>
		</div>
	</div>
		</div>
		</div>
		</div>
		<div class="footer-profile">

</div>
</div>

<script type="text/javascript">
		var app = angular.module("app",['ui.bootstrap']);

		app.controller("notes_controller", ['$scope','$http','$dialog',function($scope,$http,$dialog){
			$scope.notes = <%=raw @candidate.get_notes.count>0? @candidate.get_notes.to_json  : "[]" %>;
			$scope.create_note = function(){
      $scope.note.candidate_id = <%= @candidate.id %>;
      $http({method:"POST",
        url:"/notes",
        data:{note:$scope.note},
        headers:{'X-CSRF-Token': $('meta[name=csrf-token]').attr('content')}
        }).
          success(function(data, status) {
          $(".new-note-form").hide();
            $scope.notes.push(data);
						$scope.notes_popup = false;
            }).
          error(function(data, status) {
            console.log(data);
						$scope.notes_popup = false;

        });
    };
    $scope.edit_note = function(index){
    	$scope.note = $scope.notes[index];
    	$scope.notes_popup = true;
    	$scope.modal_action = "Update Note";
	    $scope.modal_head = "Create New Note";
	  };

	  $scope.perform_notes_task = function(){
	  	if($scope.modal_action =="Create Note")
	  		$scope.create_note();
	  	else
	  		$scope.update_note();
	  };
	  $scope.update_note = function(){
	    	$http({method:"PUT",
        url:"/notes/"+$scope.note.id,
        data:{note:$scope.note},
        headers:{'X-CSRF-Token': $('meta[name=csrf-token]').attr('content')}
        }).
          success(function(data, status) {
          $(".new-note-form").hide();
            $scope.notes.push(data);
            $scope.notes_popup = false;
           }).
          error(function(data, status) {
            console.log(data);
            $scope.notes_popup = false;

        });
    };
    $scope.add_note = function(){
    	$scope.notes_popup = true;
    	$scope.modal_action = "Create Note";
	    $scope.modal_head = "Create New Note";
      	$scope.note.candidate_note="";
    };
		}]);
	</script>
	