<div class="header">
  <div class="container">
  	
    <div class="row">
    	
      <div class="span3">
        <div class="logoFont">DRINJAL</div>
      </div>
      <% if user_signed_in? %>
      <div class="span6">
        <div>
        	
          <ul class="nav-list">
            <li>
              <a href="<%= search_path %>"><span><img src="/assets/icon-search.png"></span><span>Search</span></a>
            </li>
           
            
          </ul>
          
        </div>
      </div>
      <div class="span3">
        <div class="pull-right right-nav"><a href="<%= users_path()%>">My Account</a> | <a href="<%=destroy_user_session_path()%>" data-method="DELETE">Logout</a></div>
      </div>
       <% end %>
       <% if current_candidate %>
       <div class="span3">
        <div class="pull-right right-nav"> <a href="<%=candidate_sign_out_path()%>" data-method="DELETE">Logout</a>| 
        	<a href="<%= edit_candidate_path(current_candidate)%>">Edit Account</a></div>
      </div>
       <%end %>
    </div>
   
  </div>
</div>